<%- include('header.ejs'); -%>

<h2>I am StepDaddyIssues and i made this website.</h2>

<p>sefpojseoifjaso;ifsopifsaieopfhsaioehoap[[[[[[[[[[[[[[[[[[[[[[[[[[[[[f vapsehfpaseofaspefiasejfpahjfpoasihfjoipasfjhpoiashfoiashfoiashf[iashfiohas[fhasfhas][fhjas[efh[saehfoisehfoisehfpoisehfopisaehfposiehfopsefposehfposehfpoasehfosefhsapofhsofnbspobskjgsrhvoasufnspoisdjhfosnbrjklsdhfouisnfjskfhsdofhwesojfhsdiovhsofbsoefh]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
</p>

<%- include('footer.ejs'); -%>